<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div>
    {% if tipo == "imagen" %}
        <img src="{{ iUrl }}" alt="{{ titulo }}" width="500px" height="300px"/>
    {% endif %}
    {% if tipo == "audio" %}
        <audio controls autoplay id="playerElm" controls='false'>
            <source src="{{ iUrl }}" type="video/mp4"/>
        </audio>
    {% endif %}
    {% if  tipo == "video" %}
    <video controls id="playerElm" Accept-Ranges>
        <source src="{{ iUrl }}">
      </video>
    {% endif %}
</div>
<div>
    <table border="1">
        <tr>
            <td>Título</td>
            <td>{{ titulo }}</td>
        <tr/>
        <tr>
            <td>Autor</td>
            <td>{{ autor }}</td>
        <tr/>
        <tr>
            <td>Fecha de creación</td>
            <td>{{ fecha_creacion }}</td>
        <tr/>
        <tr>
            <td>Categoría</td>
            <td>{{ categoria }}</td>
        <tr/>
        <tr>
            <td>Usuario</td>
            <td>{{ usuario }}</td>
        <tr/>
        <tr>
            <td>Ciudad</td>
            <td>{{ ciudad }}</td>
        <tr/>
        <tr>
            <td>País</td>
            <td>{{ pais }}</td>
        <tr/>
    </table>
</div>

{% if tipo == "audio" or tipo == "video" %}
<div>
    <h3>Clips recomendados</h3>
    <ul>
    {% for clip in clips %}
        <li>
            {{clip.nombre}}
            <i style="font-size:24px; cursor: pointer" class="fa" onclick="playVideo({{clip.segundo_inicio}},{{clip.segundo_fin}})">&#xf04b;</i>
        </li>
    {% endfor %}
    </ul>
</div>
<div>
    <h3>Agregar clip</h3>
    {% if msg_error %}<p><strong>{{ msg_error }}</strong></p>{% endif %}
    <form action="{% url 'agregarClip' tipo=tipo idbd=idbd %}" method="post">
    {% csrf_token %}
    <label>Nombre</label>
    <input type="text" name="nombre" required><br/>
    <label for="start">Segundo de inidio: </label>
    <input id="start" type="number" min="0" max="0" value="0" name="inicio" required><br/>
    <label for="stop">Segundo de fin: </label>
    <input id="stop" type="number" min="0" max="0" value="0" name="fin" required><br/>
    <input type="submit" value="Agregar"><br/>
    </form>
</div>
{% endif %}

<div>
    <a href="{% url 'index' %}">Regresar</a>
</div>

</body>
</html>

<script>
        let video = document.getElementById('playerElm');
        if(video) {
            video.addEventListener('loadedmetadata', function() {
                let duracion = Math.ceil(video.duration);
                let inicio = document.getElementById('start');
                let fin = document.getElementById('stop');
                inicio.setAttribute('max', duracion);
                fin.setAttribute('max', duracion);
                fin.setAttribute('value', duracion);
            });
        }

        var endTimeVideo = null;

        function puseVideo() {    
                if(endTimeVideo == null) return;
                if (this.currentTime >= endTimeVideo) {
                    this.removeEventListener("timeupdate",puseVideo);
                    this.pause();
                    endTimeVideo = null;
                }
            }

        function playVideo(starttime,endtime) {
            var video = document.getElementById('playerElm');
            //handler should be bound first
            endTimeVideo = endtime;
            video.removeEventListener("timeupdate",puseVideo);
            video.addEventListener("timeupdate",puseVideo , false);
            //suppose that video src has been already set properly
            
            video.load();

            const playPromise = video.play();
            if (playPromise !== null){
                playPromise.catch(() => { video.play(); })
            }

            try {
                video.currentTime = starttime;
            } catch (ex) {
                console.log(ex)
            }

            //must call this otherwise can't seek on some browsers, e.g. Firefox 4
        }
    </script>